$off-white: rgb(248, 245, 237);
$navy: rgb(32, 36, 88);
$blue: rgb(138, 165, 187);
$yellow: rgb(235, 156, 49);



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $off-white;
	margin: 0;
}

// Typography

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  }
h2 { font-size: 3.6rem; line-height: 1.25;  }
h3 { font-size: 3.0rem; line-height: 1.3;   }
h4 { font-size: 2.4rem; line-height: 1.35;  }
h5 { font-size: 1.8rem; line-height: 1.5;   }
h6 { font-size: 1.5rem; line-height: 1.6;   }

h1, h2, h3, h4, h5, h6{
	color: $navy;
}

p, ul, li a{
	color: $blue;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover{
	color: $yellow;
	transition: all .5s ease;
}


/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
	font-size: 1.5em;
 }
ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 1rem 0 0 ;
}
h1 > a {
  text-decoration: none;
  color: pin;
}
button, input, label, textarea {
  display: block;
  outline: none;
}
label {
  margin-top: 1rem;
}
.error {
  color: $blue;
}
input.error, textarea.error {
  border: 1px solid $blue;
}
.form-error {
  color: $blue;
  background-color: lavenderblush;
  padding: 1rem;
  display: inline-block;
}
.form-error ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}
.form-error li {
  display: list-item;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between button {
  display: inline;
}

// header styles

.logo{
	max-width: 100px;
}

#redwood-app{
	display: flex;
	width: 100%;
}

.blog-header{
	max-width: 200px;
	width: 15%;
	background-color: $off-white;
	height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	nav ul{
		display: flex;
		flex-direction: column;
	}

	nav ul li{
		font-size: 1.5em;
	}

	&__inner{
		position: fixed;
	}
}

.aprille-name {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
	padding: 8px;
	border-bottom-left-radius: 16px;
	z-index: 5;

	h1 {
		color: $yellow;
		margin-bottom: 0;
		font-size: 32px;
		text-align: center;
	}

	p{
		text-transform: uppercase;
		color: $yellow;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		margin-bottom: 0;
	}
}

// blog general

.blog-main{
	width: 90%;
	padding: 140px 20px;
	max-width: 1600px;
	margin: auto;
}

.scaffold-layout{
	margin: auto;
}

.waves-loading{
	background:
		radial-gradient(100% 58% at top   ,$blue   99%,$navy) calc(0*100%/3) 0,
		radial-gradient(100% 58% at bottom,$navy 99%,$blue  ) calc(3*100%/3) 0,
		radial-gradient(100% 58% at top   ,$blue   99%,$navy) calc(6*100%/3) 0,
		radial-gradient(100% 58% at bottom,$navy 99%,$blue  ) calc(9*100%/3) 0
		$navy;
	background-size:50% 100%;
	background-repeat:no-repeat;
	-webkit-background-clip:text;
	color:transparent;
	background-clip:text;
	display:inline-block;
	padding:40px;
	font-size: 50px;
	font-family:arial;
	font-weight:bold;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	animation:
		move 1s infinite linear,
		up   5s infinite linear alternate;
}

.wave-svg{
	padding: 80px 0;
	max-width: 900px;
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.login-page{
	width: 100%;
}

.logged-in-flag{
	color: $yellow;
}

.additional-work-title{
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
}

// form stuff

.rw-form-wrapper{
	max-width: 1200px;
	width: 90vw;
}

.rw-form-wrapper img{
	max-width: 500px;
}

// photography page/section -- photoscell

.photography-section-grid{
	display: flex;
  flex-wrap: wrap;
  gap: 20px;
	padding-bottom: 20px;
	justify-content: center;

	.photo-thumbnail{
		max-height: 250px;
		height: 16vw;
		// this might work better
		cursor: pointer;
		position: relative;

		.hover-card{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: absolute;
			bottom: 0px;
			top: 0px;
			left: auto;
			right: auto;
			width: 100%;
			height: 100%;
			// background-color: rgb(235, 156, 49, .5);
			// or totally like katy binks
			background-color: $yellow;
			opacity: 0;
		}

		h2 {
			text-align: center;
			font-size: 1.5em;
			width: 90%;
			font-weight: bold;
			margin-left: auto;
			margin-right: auto;
			color: #fff;
			// transition: all .5s ease;
		}

		&:hover{

				.hover-card{
					animation: fadeIn .5s;
					opacity: 1;
				}
		}
	}

	.photo{
		width: 100%;
		height: auto;
		object-fit: cover;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
}

// individual photo page -- photocell

.photo-page{
	.photo-container{
		display: flex;
		flex-direction: column;
		align-items: center;

		h2{
			margin-top: 20px;
		}
	}
	.photo{
		max-width: 900px;
		width: 100%;
	}
}

// projects section

.projects-section{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 20px;
	align-items: flex-end;
	justify-content: center;
}

// about page

.about-page{
	p{
		max-width: 500px;
		margin: auto;
	}
}

// article thumbnail

.article{
	max-width: 500px;
	transition: all .5s ease;

	:hover{
		h2{
			color: $yellow;
		}
	}

	h2{
		transition: all .5s ease;
		text-transform: capitalize;
		font-size: 2em;
		font-weight: bold;
	}
	h2 a{
		color: $navy;
		text-decoration: none;
	}

	.featured-image{
		max-width: 100%;
		height: auto;
	}
}

.hamburger a{
	display: flex;
	flex-direction: column;
}

.hamburger a span{
	height: 12px;
	font-size: 40px;
}

.article-page {
		margin: auto;

		header{
			margin-bottom: 20px;
			width: fit-content;
			margin: 0 auto 20px auto;
		}

		h2{
			text-transform: capitalize;
			text-align: center;
			font-weight: bold;
		}

		.title-line{
			border-bottom: 4px solid $yellow;
			width: 150px;
			margin: 0 auto;
		}

		h2 a{
			color: $navy;
			text-decoration: none;
		}
		h2 a:hover{
			color: $blue;
		}

		.article-body{
			display: flex;
			flex-direction: column;
			width: 90%;
			margin-left: auto;
			margin-right: auto;

			.article-copy {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 40px;

				p{
					text-align: center;
				}

				p:last-of-type{
					margin-bottom: 0;
				}
			}

			.article-gallery{
				display: flex;
				flex-direction: column;

				img{
					height: 30vw;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 80px;
					border: 40px solid #fff;
				}

				img:last-of-type{
					margin-bottom: 0;
				}
			}
		}
}

.hecking{
	font-size: 50px;
	color: red;
}

// Animations

@keyframes move {
	to {
		background-position:
			 calc(-6*100%/3) 0,
			 calc(-3*100%/3) 0,
			 calc(0*100%/3) 0,
			 calc(3*100%/3) 0;
	}
}

@keyframes up {
	to {
		background-size:50% 50%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

// Media Queries

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {}

/* Larger still */
@media (min-width: 900px) {}

/* Larger than tablet */
@media (min-width: 1200px) {}

.rw-scaffold{
	margin: 2rem auto;
}